<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Font Awesome icons -->
    <script src="https://kit.fontawesome.com/70f8fc0a39.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css">
    <title>Hostel</title>
</head>

<body>
    <!-- navbar -->
    <section class="header">
        <nav>
            <a href="/"><img src="css/Images/logo2.png"></a>
            <h2 class="heading">JMI HOSTEL</h2>
            <div class="nav-links" id="navLinks">
                <span class="icon material-symbols-outlined" onClick="hideMenu()">close</span>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="mess">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="student">LOGIN</a></li>
                </ul>
            </div>
            <span class="icon material-symbols-outlined" onClick="showMenu()">menu</span>
        </nav>

        <div class="text-box">
            <h1>Jamia Millia Islamia</h1>
            <p>Discover the Best Hostel Experience at Jamia Millia Islamia"<br>A Safe and Comfortable Stay</p>
            <a href="#about" class="hero-btn">Visit Us to know more</a>
        </div>
    </section>

    <!-- About -->
    <div id="about">
        <h1>ABOUT</h1>
        <p class="aboutTxt">Jamia Millia Islamia ('National Islamic University') is a central university located in
            New Delhi, India. Originally established at Aligarh, United Provinces (present-day Uttar Pradesh, India)
            during the British Raj in 1920, it moved to its current location in Okhla in 1935. It was given the deemed
            status by University Grants Commission in 1962. On 26 December 1988, it became a central university.
            <br>
            The foundation committee of the university included Abdul Bari Firangi Mahali, Hussain Ahmad Madani,
            Muhammad Iqbal, Sanaullah Amritsari, Syed Mehmood and others. Its foundation stone was laid by Mahmud Hasan
            Deobandi, the leader of Silk Letter Movement and the first student of Darul Uloom Deoband. Ali
            Jauhar served as its first vice-chancellor from 1920 to 1923, and Hakim Ajmal Khan served as the first
            chancellor from 1920 to 1927. On 26 May 2017, Najma Heptulla became 11th Chancellor of the university, and
            Najma Akhtar became the 15th Vice Chancellor in April 2019. On 13th March 2023, Mufaddal Saifuddin was
            elected the 12th Chancellor of the university, replacing Najma Heptulla.
            <br>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1752.0769347724772!2d77.28157174748547!3d28.565141896773145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce38bc0a324fd%3A0x400656f511447dbe!2sDr%20BR%20Ambedkar%20Hostel!5e0!3m2!1sen!2sin!4v1679332315373!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            In 2020, Jamia Millia Islamia was ranked 1st among all central universities in the country in rankings
            released by Ministry of Education of India. In December 2021, the university received an 'A++' ranking by
            National Assessment and Accreditation Council.
            <br>
            Jamia Millia Islamia was established in Aligarh on 29 October 1920 by Mohammad Ali Jauhar, Hakim Ajmal Khan,
            Mukhtar Ahmed Ansari, Abdul Majeed Khwaja, and Zakir Hussain under the presidency of Mahmud Hasan Deobandi.
            It was established mainly in response to the demand of some students of the Aligarh Muslim University for a
            new National Muslim University which would be free from government influence as they felt that the
            administration of Aligarh Muslim University was of pro-British stance.
            <br>
            It was conceived as a national institution that would offer progressive education and an emphasis on Indian
            nationalism to students from all communities, particularly Muslims. Zakir Hussain described "the movement of
            Jamia Millia Islamia as a struggle for education and cultural renaissance that aims to prepare a blueprint
            for Indian Muslims which may focus on Islam but simultaneously evolve a national culture for common Indian.
            It will lay the foundation of the thinking that true religious education will promote patriotism and
            national integration among Indian Muslims, who will be proud to take part in the future progress of India,
            which will play its part in the comity of nations for peace and development. The objective of establishment
            of Jamia Millia Islamia will be to lay down the common curriculum for Indian Muslims taking into account the
            future challenges and will prepare the children to be masters of future" The emergence of Jamia was
            supported by Mahatma Gandhi, who felt that Jamia Millia Islamia could shape lives of hundreds and thousands
            of students on the basis of a shared culture and worldview.
            <br>
            In 1925, Jamia Millia Islamia moved from Aligarh to Karol Bagh, New Delhi. On 1 March 1935, the foundation
            stone for a school building was laid at Okhla, then a nondescript village in the southern outskirts of
            Delhi. In 1936, all institutions of Jamia Millia Islamia except Jamia Press, the Maktaba, and the library
            moved to the new campus.
        </p>
    </div>

    <!-- carousel -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img5.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img4.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img3.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img2.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img1.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img8.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img7.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item" data-bs-interval="1800">
                <img src="css/Images/carousel/img6.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
            <div class="carousel-item c-item">
                <img src="css/Images/carousel/img9.png" class="d-block w-100 c-img" alt="hostel-image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- contact -->
    <div id="contact">
        <h1>Contact Information</h1>
        <div class="contact-text">
            <p> Hall of Boys Residence (Campus B), Gate No-4, Jamia Millia Islamia</p>
            <p>Jamia Nagar, New Delhi-110025</p>
            <p>Phone: +91(11) 26981717, 26984617, 26984658</p>
            <p>Fax : +91(11) 2698 0229</p>
        </div>
    </div>

    <!-- footer -->
    <footer id="footer">
        <a href="https://twitter.com/jmiu_official" target=_blank><i class="ico fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/jamiamilliaislamia_official/?hl=en" target=_blank><i
                class="ico fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/jmiofficial/" target=_blank><i class="ico fa-brands fa-facebook-f"></i></a>
        <a href="mailto:gmakhdumi@jmi.ac.in"><i class="ico fa-solid fa-envelope"></i></a>
        <p>© 2023 All Rights Reserved Jamia Millia Islamia</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
        navLinks.style.right = "0";
    }
    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>

</html>