body {
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
}

h2 {
    text-align: left;
    padding-bottom: 10px;
}

h4 {
    text-align: left;
    padding-bottom: 10px;
}

.fee {
    text-align: center;
    padding: 40px 300px 0px 300px;
}

.mess {
    text-align: center;
    padding: 120px 300px 0px 300px;
}

.schedule {
    text-align: justify;
    padding: 120px 300px 0px 300px;
    line-height: 30px;
}

.payment {
    text-align: left;
    padding-top: 100px
}

h5 {
    padding-bottom: 50px;
}

footer {
    background-color: rgb(225, 224, 224);
    padding: 40px 300px 10px 300px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 10px;
    padding-bottom: 30px;
}