body {
    background-color: rgb(239, 239, 239);
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* buttons */
.buttons {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    margin: 10px 10px;
}

.heading2 {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* cards */
.row {
    /* width:auto; */
    padding: 40px 80px;
}

.card {
    margin: 10px;
    z-index: -1;
    height: 450px;
}

/* backgroundPhotos */
.breakfast {
    background: linear-gradient(rgba(254, 249, 249, 0.977), rgba(251, 246, 246, 0.9)), url("images/breakfast.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

.lunch {
    background: linear-gradient(rgba(248, 244, 244, 0.941), rgba(249, 243, 243, 0.9)), url("images/lunch.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.dinner {
    background: linear-gradient(rgba(248, 241, 241, 0.973), rgba(250, 243, 243, 0.9)), url("images/dinner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* JS clsses to add and remove */
.sat-size {
    font-size: 30px;
}

.sun-size {
    font-size: 30px;
}

.mon-size {
    font-size: 30px;
}

.tue-size {
    font-size: 30px;
}

.wed-size {
    font-size: 30px;
}

.thu-size {
    font-size: 30px;
}

.fri-size {
    font-size: 30px;
}

footer {
    background-color: rgb(225, 224, 224);
    padding-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.container > div{
    padding: 0 70px;

}