/* background */
body {
	background-image: url(Images/Student-login-img.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	height: 100vh;
	display: flex;
}

* {
	box-sizing: border-box;
}

/* navbar */
.logo {
	width: 60px;
}

.heading {
	padding-top: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: rgb(255, 255, 255);
}

.navbar {
	background-color: rgb(0, 0, 0, 0.2);
	position: absolute;
	width: 100%;
}

.navTxt {
	border: #ffffff solid 1px;
	border-radius: 10px;
	margin-right: 35px;
	font-size: 20px;
	font-family: Verdana;
	color: aliceblue;
}

.navTxt:hover {
	background-color: white;
	color: black;
}

.message-box{
    top: 15%;
    left: 50%;
    right: 50%;
    margin-bottom: 40%;
    width: 400px;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    font-family: Verdana;
    border-radius: 5px;
}

/* form  */
h1 {
    margin: 0;
	margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    padding: 8px;
}

.form {
	width: 320px;
	height: auto;
	background-color: rgb(0, 0, 0, 0.3);
	color: #fff;
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 30px 30px;
	font-family: Verdana;
	border-radius: 5px;
  }
 
  .form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
  }
  
  .form input {
	width: 100%;
	margin-bottom: 20px;
  }
  
  .form input [type="text"],
  input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
  }
  
  .form input [type="text"],
  input[type="password"] {
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
  }
  
  .form input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #608256;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
  }
  
  .form input[type="submit"]:hover {
	cursor: pointer;
	background: #537a47;
  }
  
  ::placeholder {
	color: #fff;
	opacity: 1;
  }
  
  .mssg, .mssg a {
	text-decoration: none;
	font-weight:normal;
	font-size: 12.5px;
	line-height: 20px;
	color: rgb(237, 237, 237);

  }
  
  .mssg a:hover {
	color: #ffffff;
  }
  
  .form .register-form {
	display: none;
  }
